@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  background: #000;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto';
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 5px 2px #61bea2;
}

button img {
  height: 36px;
  opacity: 0.8;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  color: #777;
  letter-spacing: 0.5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-size: 16px;
}

button.animate {
  animation: scale-down 3.5s ease-in;
  animation-fill-mode: forwards;
}

@keyframes scale-down {
  100% {
    transform: scale(0.225);
    background-color: #ebfefe;
  }
}

button.animate img {
  animation: fade-out 1s ease-in;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}
